
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_page_tool.html" as page_tool %}

{% block head %}
{{ super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}小小深成长记录{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
	window.onload = current_time()
	function current_time(){
		cur_date = new Date()
		str = cur_date.getFullYear() + '-' + (cur_date.getMonth()+1) + '-' + cur_date.getDate() + ' ' + cur_date.getHours() + ':' + cur_date.getMinutes() + ':' + cur_date.getSeconds()
		document.getElementById('date').value = str
	}

</script>

{% endblock %}

{% block navbar %}
{{super()}}
{% include "nav.html" %}
{% endblock %}


{% block content %}
{{super()}}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12 main">
            <center>
                <h2 class="page-header">今日统计</h2>
            </center>
            
            <div class="row placeholders">
            {% for itr in sum %}
                <div class="col-lg-2 col-xs-3 col-sm-3 placeholder">
                    <center>
                        <h1>{{ itr[1] }}</h1>
                        <h4>{{ itr[0] }}</h4>
                    </center>
                </div>
                {% endfor %}
            </div>                             
        </div>
        </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-3 col-xs-12 col-sm-6">

            <form method="POST" action="/submit">
                <fieldset>

                     <legend>添加事件</legend> 
                     {{ wtf.quick_form(form) }}

                     <button type="submit" class="btn btn-success btn-block">提交</button>
                     <button type="button" class="btn btn-info btn-block" onclick="current_time()" >刷新时间</button>

<!--                       <label>表签名</label>
                    <input type="text" /> <span class="help-block">这里填写帮助信息.</span> 
                     <label class="checkbox"><input type="checkbox" /> 勾选同意</label> 
                     <button type="submit" class="btn">提交</button> -->
                </fieldset>
            </form>
        </div>
        <div class="col-lg-9 visible-lg visible-sm">
            <table class="table">
                <thead>
                    <tr>
                      <th>序号</th>
                      <th>事件</th>
                      <th>时间</th>
                      <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    {% for itr in items %}
                    <tr>
                        <td> {{ itr.id }} </td>
                        <td> {{ itr.event }} </td>
                        <td> {{ itr.date }} </td>
                        <td> {{ itr.extra_text }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{page_tool.pagination_tool(paginate, 'main.index')}}

        </div>
    </div>
</div>
    {% endblock %}

