
<nav class="navbar navbar-inverse " role="navigation">
   <div class="navbar-header">
       <div>
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar-collapse">
               <span class="sr-only">切换导航</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
       </div>
       <a class="navbar-brand" href="#">小小深记录 <span class="label">Beta</span></a>
   </div>
   <div>
      <div class="collapse navbar-collapse" id="my-navbar-collapse">
          <ul class="nav navbar-nav">
             <li><a href="/">Home</a></li>
             <li><a href="{{ url_for("main.show")}}">Manage</a></li>
             <li><a href="{{ url_for("main.diary")}}">Diary</a></li>
             <li><a href="{{ url_for("main.about")}}">About</a></li>
          </ul>
      </div>
   </div>
</nav>