
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_page_tool.html" as page_tool %}


{% block head %}
{{ super()}}
{% include "_header.html" %}
{% endblock %}

{% block title %}小小深成长记录{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
// document.getElementById('myform')

  var g_id = null

  $('#myModal').on('show.bs.modal', function (event) {
    var img = $(event.relatedTarget) // Button that triggered the modal
    var recipient = img.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    document.getElementById("show").src=recipient
    g_id = img.data("id")
  })

  function del(){
    xhr = new XMLHttpRequest();
    if(xhr){
      xhr.onreadystatechange = function (){
            if(xhr.readyState == 4){
              if(xhr.status == 200){
                var n = document.getElementById(g_id);
                // alert(n)
                if(n != null){
                  n.parentNode.removeChild(n);
                }
              }
            }
            $('#myModal').modal('hide')
        };

      xhr.open("GET", "/delete/pic/"+g_id, true)
      xhr.send(null)
    }
  }

function uploadFile(){
    var xhr = new XMLHttpRequest();
    var formData = new FormData(document.getElementById('myform'));
    $("#barparent").addClass('in');
    xhr.onreadystatechange = function(){
        if(this.state == this.Done){
            if(this.status == 200){
                return;
            }
        }
    }

    xhr.upload.addEventListener("progress", function(event){
        if (event.lengthComputable) {
            var percentComplete = event.loaded*100 / event.total;
            percentComplete = Math.round(percentComplete);
            var bar = document.getElementById("bar");
            bar.style.width = percentComplete.toString() + '%';
            bar.innerHTML = percentComplete.toString() + '%';
        } else {
            // Unable to compute progress information since the total size is unknown
        }
    });

    xhr.upload.addEventListener("load", function(event){
        // alert("complete");
        // setTimeout(function(){
        //     // $("#barparent").addClass('hidden');
        //     $("#barparent").removeClass( "in");
        //     $("#barparent").addClass( "out");
        // }, 3000);
        window.location="/photo"

    });

    xhr.open("POST", "/pic/upload");
    xhr.send(formData);

}

</script>
{% endblock %}

{% block navbar %}
{{super()}}
{% include "nav.html" %}
{% endblock %}


{% block content %}
{{super()}}


<div class="container-fluid" >
    <div class="row-fluid" id="row">
        <div class="col-lg-3 col-xs-12 col-sm-6">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
            <form id="myform" method="POST" action="/pic/upload" enctype="multipart/form-data">
                <fieldset>

                     <legend>添加照片</legend> 
                     {{ wtf.quick_form(form) }}

                     <button type="button" class="btn btn-success btn-block" onclick="uploadFile()">
                        <span class="glyphicon glyphicon-ok"/>&nbsp;提交
                    </button>

                </fieldset>
            </form>
            <div id="barparent" class="fade out" >
                <div class="progress progress-striped active">
                   <div id="bar" class="progress-bar progress-bar-success" role="progressbar" 
                      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
                      style="width: 0%;">
                      <span class="sr-only">40% 完成</span>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 visible-lg visible-sm">

            <table class="table table-hover" style="width:100%">
                <thead>
                {% set i=0 %}
                {% for itr in items %}
                  {% if i % 5 == 0 %}
                  <tr>
                    <th id="{{ itr.id }}">
                        <img  src="{{ itr.path }}" class="img-responsive img-thumbnail img-rounded" alt="{{ itr.name }}" data-toggle="modal" data-target="#myModal" data-whatever="{{ itr.path }}" data-id="{{ itr.id }}"/>
                    </th>
                  {% else %}
                    {% if i % 5 == 4 %}
                        <th id="{{ itr.id }}">
                            <img src="{{ itr.path }}" class="img-responsive img-thumbnail img-rounded" alt="{{ itr.name }}" data-toggle="modal" data-target="#myModal" data-whatever="{{ itr.path }}" data-id="{{ itr.id }}"/>
                        </th>
                        </tr>
                    {% else %}
                        <th id="{{ itr.id }}">
                            <img src="{{ itr.path }}" class="img-responsive img-thumbnail img-rounded" alt="{{ itr.name }}" data-toggle="modal" data-target="#myModal" data-whatever="{{ itr.path }}" data-id="{{ itr.id }}"/>
                        </th>
                    {% endif %}
                  {% endif%}
                  {% set i = i +1 %}
                {% endfor %}

                {% if i % 5 != 0 %}
                    {% for n in ranges(i,5) %}
                        <th>gf</th>
                    {% endfor %}
                    </tr>
                {% endif %}
                </thead>
            </table>
            {{page_tool.pagination_tool(paginate, 'main.index')}}
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
         </div>
         <div class="modal-body">
            <img id="show" class="img-responsive img-thumbnail img-rounded" alt="name">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-success" onclick="del()">
               删除
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

{% endblock %}