
{% extends "bootstrap/base.html" %}
{% import "_page_tool.html" as page_tool %}
{% block title %}小小深成长记录{% endblock %}

{% block head %}
{{ super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-6">
        <table class="table table-hover" style="width:100%">
          <caption>小小深成长记录</caption>
          <thead>
            <tr>
              <th>序号</th>
              <th>事件</th>
              <th>时间</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
          	{% for itr in items %}
          	<tr>
          		<td> {{itr.id }} </td>
          		<td> {{ itr.event }} </td>
          		<td> {{ itr.date }} </td>
          		<td> {{ itr.extra_text }} </td>
          	</tr>
          	{% endfor %}
          </tbody>
        </table>
        {{page_tool.pagination_tool(paginate, 'main.show')}}
      </div>
  </div>
</div>
{% endblock %}