
{% extends "bootstrap/base.html" %}
{% import "_page_tool.html" as page_tool %}
{% block title %}小小深成长记录{% endblock %}

{% block head %}
{{ super()}}
{% include "_header.html" %}
{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript">

  var g_id = null
  var xhr = null

  $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    g_id = recipient
  })

  function del(){
    xhr = new XMLHttpRequest();
    if(xhr){
      xhr.onreadystatechange = callback;
      xhr.open("GET", "/delete/grow_record/"+g_id, true)
      xhr.send(null)
    }
  }

  function callback(){
    if(xhr.readyState == 4){
      if(xhr.status == 200){
        var n = document.getElementById(g_id);
        // alert(n)
        if(n != null){
          n.parentNode.removeChild(n);
        }
      }
    }
    //clost the Modal
    $('#myModal').modal('hide')
  }
</script>

{% endblock %}

{% block navbar %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
  
<div class="container-fluid">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <div class="row-fluid">
    <div class="col-lg-6">
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">小小深成长记录</div>
          <table class="table table-hover" style="width:100%">
            <thead>
              <tr>
                <th>序号</th>
                <th>事件</th>
                <th>时间</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            	{% for itr in items %}
            	<tr id="{{ itr.id }}">
            		<td> {{itr.id }} </td>
            		<td> {{ itr.event }} </td>
            		<td> {{ itr.date }} </td>
                <td> {{ itr.extra_text }} </td>
            		<td> <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal" data-whatever="{{ itr.id }}"><span class="glyphicon glyphicon-remove"/></button> </td>
            	</tr>
            	{% endfor %}
            </tbody>
          </table>
         
      </div>
       {{page_tool.pagination_tool(paginate, 'main.show')}}
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               删除这条记录？
            </h4>
         </div>
         <div class="modal-body">
            确认是否删除，记录将不可恢复
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-success" onclick="del()">
               删除
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
{% endblock %}