
{% extends "bootstrap/base.html" %}
{% import "_page_tool.html" as page_tool %}
{% block title %}小小深成长记录{% endblock %}

{% block head %}
{{ super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-6">
        <table class="table table-hover" style="width:100%">
          <caption>小小深成长记录</caption>
          <thead>
            <tr>
              <th>序号</th>
              <th>事件</th>
              <th>时间</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          	{% for itr in items %}
          	<tr>
          		<td> {{itr.id }} </td>
          		<td> {{ itr.event }} </td>
          		<td> {{ itr.date }} </td>
              <td> {{ itr.extra_text }} </td>
          		<td> <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal">删除</button> </td>
          	</tr>
          	{% endfor %}
          </tbody>
        </table>
        {{page_tool.pagination_tool(paginate, 'main.show')}}
      </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               删除这条记录？
            </h4>
         </div>
         <div class="modal-body">
            确认是否删除，记录将不可恢复
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-success">
               删除
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
{% endblock %}